# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Mastery Course - 2D.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity_Projects\Mastery Course - 2D\.idea\.idea.Mastery Course - 2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
